div.input-block {
    display: flex;
    flex-direction: column;
    margin: 0.1rem 0;
}

div.input-block input {
    font-size: 1.5rem;
    border: 0;
    background-color: #fff;
    border-radius: 4px;
    margin: 5px 0px;
    padding: 10px;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all 0.3s;
}

div.input-block input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--color-accent-1);
}

div.input-block input:focus:invalid {
    border-bottom: 3px solid var(--color-primary);
}

div.input-block label {
    margin-left: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    transition: all 0.3s;
    transform: translateY(-6rem);
}

input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.5rem);
}
